<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitation Email</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
      font-family: Plus Jakarta Sans', sans-serif;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #f4f4f4; margin: 0; padding: 20px"
    >
      <tr>
        <td align="center">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            style="
              background-color: #ffffff;
              border-radius: 10px;
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
              padding: 30px;
            "
          >
            <!-- 로고 이미지 -->
            <tr>
              <td align="left">
                <img
                  src="https://res.cloudinary.com/dy24eddpx/image/upload/v1729433769/LOGO_Komm_DAO_latest_zzoblp.png"
                  alt="Komm DAO Logo"
                  style="width: 100px; height: 100px"
                />
              </td>
            </tr>
            <!-- 본문 내용 -->
            <tr>
              <td align="left" style="padding-left: 20px; margin-top: 20px">
                <h1
                  style="
                    font-size: 28px;
                    color: #101828;
                    text-align: left;
                    margin-bottom: 50px;
                    line-height: 36px;
                    font-weight: 600;
                  "
                >
                  Your Komm DAO Membership Application Not Approved
                </h1>
                <p
                  style="
                    font-size: 19px;
                    color: #667085;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 20px 0;
                  "
                >
                  Hello {{RECIPIENT_NAME}},
                </p>
                <p
                  style="
                    font-size: 19px;
                    color: #667085;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 20 0;
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-style: normal;
                  "
                >
                  Thank you for your interest in Komm DAO. After reviewing your
                  application, we were unable to approve your membership due to
                  insufficient information or unmet criteria.
                </p>
                <span
                  style="
                    color: #667085;
                    font-size: 19px;
                    font-weight: 700;
                    line-height: 24px;
                  "
                  >Possible reasons for the decision:</span
                >
                <br />
                <span style="color: #667085; font-size: 19px; line-height: 24px"
                  >- Missing or incomplete account details</span
                >
                <br />
                <span style="color: #667085; font-size: 19px; line-height: 24px"
                  >- Lack of required information in your application</span
                >
                <br />
                <p
                  style="
                    font-size: 19px;
                    color: #667085;
                    font-weight: 400;
                    margin: 20px 0;
                  "
                >
                  To proceed, kindly update your information and submit a new
                  application.
                </p>
                <span style="color: #667085; font-size: 19px; line-height: 24px"
                  >Best regards,
                </span>
                <br />
                <span style="color: #667085; font-size: 19px; line-height: 24px"
                  >Komm DAO Team</span
                >
                <!-- Reapply 버튼 -->
                <table
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="margin-top: 20px"
                >
                  <tr>
                    <td>
                      <a
                        href="http://52.78.177.57/registration"
                        style="
                          display: inline-block;
                          padding: 15px 30px;
                          font-size: 16px;
                          font-weight: 600;
                          background-color: #7447d7;
                          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
                          color: #ffffff;
                          border-radius: 8px;
                          text-decoration: none;
                          margin-bottom: 20px;
                        "
                        >Reapply</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 구분선 -->
            <tr>
              <td style="padding: 20px 0; border-top: 1px solid #ddd"></td>
            </tr>
            <!-- 하단 정보 -->
            <tr>
              <td>
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  style="font-size: 14px; color: #777777"
                >
                  <tr>
                    <td width="50%" align="left">
                      <img
                        src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728641851/LOGO_KommDao_small_tukrdc.png"
                        style="width: 64px; height: 64px"
                      />
                      <h4
                        style="
                          color: #101828;
                          font-size: 16px;
                          line-height: 30px;
                        "
                      >
                        KOMM DAO
                      </h4>
                      <p>The First Venture DAO in Korea</p>
                    </td>
                    <td
                      width="100%"
                      height="100%"
                      align="right"
                      style="
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                      "
                    >
                      <table>
                        <tr>
                          <td style="padding-right: 15px">
                            <img
                              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649218/Group_phyc3y.png"
                              style="width: 24px; height: 24px"
                            />
                          </td>
                          <td style="padding-right: 15px">
                            <img
                              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649234/discord_agpvk0.png"
                              style="width: 24px; height: 24px"
                            />
                          </td>
                          <td>
                            <img
                              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649244/Vector_rfojzu.png"
                              style="width: 24px; height: 24px"
                            />
                          </td>
                        </tr>
                      </table>
                      <p style="padding-top: 80px">contact@kommdao.com</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
