<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitation Email</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
      "
    >
      <div style="text-align: left">
        <img
          src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728641242/LOGO_Komm_DAO_3_xrqisa.png"
          alt="Komm DAO Logo"
          style="width: 100px; height: 100px"
        />
      </div>
      <div style="text-align: left; padding-left: 20px; margin-top: 20px">
        <h1
          style="
            font-size: 24px;
            color: #333333;
            text-align: left;
            margin-bottom: 50px;
          "
        >
          Welcome! Your Membership is Confirmed!
        </h1>
        <p
          style="
            font-size: 18px;
            color: #667085;
            font-weight: 400;
            line-height: 24px;
            margin: 20px 0;
          "
        >
          Hello {{RECIPIENT_NAME}},
        </p>

        <p
          style="
            font-size: 18px;
            color: #667085;
            font-weight: 400;
            line-height: 24px;
            margin: 20 0;
          "
        >
          Welcome to Komm DAO! We are pleased to inform you that your membership
          has been successfully activated. Here are the details of your account:
        </p>
        <span style="color: #667085; font-size: 19px; font-weight: 700"
          >Account Information:</span
        >
        <br />
        <span style="color: #667085; font-size: 18px"
          >- Username: {{User Name}}</span
        >
        <br />
        <span style="color: #667085; font-size: 18px"
          >- Email: {{User Email}}</span
        >
        <br />
        <span style="color: #667085; font-size: 18px"
          >- Wallet Address: {{Wallet Address}}</span
        >
        <p
          style="
            font-size: 18px;
            color: #667085;
            font-weight: 400;
            margin: 20px 0;
          "
        >
          We are thrilled to have you with us and look forward to your active
          participation in our community. If you have any questions or need
          assistance, feel free to reach out to us at any time.
        </p>
        <span style="color: #667085; font-size: 18px"
          >Thank you for joining Komm DAO!
        </span>
        <br />
        <br />
        <span style="color: #667085; font-size: 18px">Best regards, </span>
        <br />
        <span style="color: #667085; font-size: 18px">Komm DAO Team</span>

        <div style="text-align: center">
          <a
            href="http://52.78.177.57"
            style="
              display: inline-block;
              margin-top: 20px;
              padding: 15px 30px;
              font-size: 16px;
              font-weight: 600;
              background-color: #7447d7;
              box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
              color: #ffffff;
              border-radius: 8px;
              text-decoration: none;
            "
            >Get started</a
          >
        </div>
      </div>
      <hr
        style="
          width: 100%;
          margin: 20px auto;
          border: none;
          border-top: 1px solid #ddd;
        "
      />
      <div
        style="
          display: flex;
          margin-top: 30px;
          font-size: 14px;
          color: #777777;
          justify-content: space-between;
        "
      >
        <div style="text-align: left">
          <img
            src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728641851/LOGO_KommDao_small_tukrdc.png"
            style="width: 64px; height: 64px"
          />
          <h4 style="color: #101828; font-size: 16px; line-height: 30px">
            KOMM DAO
          </h4>
          <p>The First Venture DAO in Korea</p>
        </div>
        <div style="margin-top: 15px">
          <div style="display: flex; gap: 15px; margin-bottom: 60px">
            <img
              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649218/Group_phyc3y.png"
              style="width: 24px; height: 24px"
            />
            <img
              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649234/discord_agpvk0.png"
              style="width: 24px; height: 24px"
            />
            <img
              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649244/Vector_rfojzu.png"
              style="width: 24px; height: 24px"
            />
          </div>
          <p>contact@kommdao.com</p>
        </div>
      </div>
    </div>
  </body>
</html>
