<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitation Email</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #f4f4f4; margin: 0; padding: 20px"
    >
      <tr>
        <td align="center">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            style="
              background-color: #ffffff;
              border-radius: 10px;
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
              padding: 30px;
            "
          >
            <!-- 로고 이미지 -->
            <tr>
              <td align="left">
                <img
                  src="https://res.cloudinary.com/dy24eddpx/image/upload/v1729433769/LOGO_Komm_DAO_latest_zzoblp.png"
                  alt="Komm DAO Logo"
                  style="width: 100px; height: 100px"
                />
              </td>
            </tr>

            <!-- 본문 내용 -->
            <tr>
              <td
                align="left"
                style="padding-left: 20px; margin-top: 20px; color: #000"
              >
                <h1
                  style="
                    font-size: 28px;
                    color: #333333;
                    text-align: left;
                    margin-bottom: 50px;
                  "
                >
                  Welcome! Your Membership is Confirmed!
                </h1>
                <p
                  style="
                    font-size: 18px;
                    color: #667085;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 20px 0;
                  "
                >
                  Hello {{RECIPIENT_NAME}},
                </p>

                <p
                  style="
                    font-size: 18px;
                    color: #667085;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 20 0;
                  "
                >
                  Welcome to Komm DAO! We are pleased to inform you that your
                  membership has been successfully activated. Here are the
                  details of your account:
                </p>
                <span
                  style="
                    color: #667085;
                    font-size: 19px;
                    font-weight: 700;
                    line-height: 24px;
                  "
                  >Account Information:</span
                >
                <br />
                <span style="color: #667085; font-size: 19px; line-height: 24px"
                  >- Username: {{User Name}}</span
                >
                <br />
                <span style="color: #667085; font-size: 19px; line-height: 24px"
                  >- Email: {{User Email}}</span
                >
                <br />
                <span style="color: #667085; font-size: 19px; line-height: 24px"
                  >- Wallet Address: {{Wallet Address}}</span
                >

                <p
                  style="
                    font-size: 19px;
                    color: #667085;
                    font-weight: 400;
                    margin: 20px 0;
                  "
                >
                  We are thrilled to have you with us and look forward to your
                  active participation in our community. If you have any
                  questions or need assistance, feel free to reach out to us at
                  any time.
                </p>
                <span style="color: #667085; font-size: 19px; line-height: 24p"
                  >Thank you for joining Komm DAO!</span
                >
                <br />
                <br />
                <span style="color: #667085; font-size: 19px; line-height: 24p"
                  >Best regards,
                </span>
                <br />
                <span style="color: #667085; font-size: 19px; line-height: 24p"
                  >Komm DAO Team</span
                >
              </td>
            </tr>

            <!-- 시작하기 버튼 -->
            <tr>
              <td align="center">
                <table align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <a
                        href="http://52.78.177.57"
                        style="
                          display: inline-block;
                          margin-top: 20px;
                          padding: 15px 30px;
                          font-size: 16px;
                          font-weight: 600;
                          background-color: #7447d7;
                          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
                          color: #ffffff;
                          border-radius: 8px;
                          text-decoration: none;
                          margin-bottom: 20px;
                        "
                        >Get started</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- 구분선 -->
            <tr>
              <td style="padding: 20px 0; border-top: 1px solid #ddd"></td>
            </tr>

            <!-- 하단 정보 -->
            <tr>
              <td>
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  style="font-size: 14px; color: #777777"
                >
                  <tr>
                    <td width="50%" align="left">
                      <img
                        src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728641851/LOGO_KommDao_small_tukrdc.png"
                        style="width: 64px; height: 64px"
                      />
                      <h4
                        style="
                          color: #101828;
                          font-size: 16px;
                          line-height: 30px;
                        "
                      >
                        KOMM DAO
                      </h4>
                      <p>The First Venture DAO in Korea</p>
                    </td>
                    <td
                      width="100%"
                      height="100%"
                      align="right"
                      style="
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                      "
                    >
                      <table>
                        <tr>
                          <td style="padding-right: 15px">
                            <img
                              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649218/Group_phyc3y.png"
                              style="width: 24px; height: 24px"
                            />
                          </td>
                          <td style="padding-right: 15px">
                            <img
                              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649234/discord_agpvk0.png"
                              style="width: 24px; height: 24px"
                            />
                          </td>
                          <td>
                            <img
                              src="https://res.cloudinary.com/dy24eddpx/image/upload/v1728649244/Vector_rfojzu.png"
                              style="width: 24px; height: 24px"
                            />
                          </td>
                        </tr>
                      </table>
                      <p style="padding-top: 80px">contact@kommdao.com</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
